

    <div *ngIf="isSpinning" class="spinner-container">
        <mat-progress-spinner mode="indeterminate" [diameter]="50" color="primary"></mat-progress-spinner>
        <div class="spinner-text">Working...</div>
      </div>
      
    <div class="parent">
      <div class="blurry-background"></div>

      <div class="child">
        <div class="imgDiv">
            <h1 class="title">S'inscrire</h1>
          
        </div>
        <form [formGroup]="validateForm">
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name" placeholder="Nom" id="username" required>
            <mat-error *ngIf="validateForm.get('name').hasError('required')">
              Please input your username!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder=" Email"id="email" required>
            <mat-error *ngIf="validateForm.get('email').hasError('required')">
           Saisi ton adresse email            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label> Mot de passe </mat-label>
            <input matInput type="password" formControlName="password" placeholder="Mot de passe" id="password" required>
            <mat-error *ngIf="validateForm.get('password').hasError('required')">
             Saisi ton mot de passe 
            </mat-error>
            <mat-error *ngIf="validateForm.get('password').hasError('pattern')">
              Password should contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="form-field">
            <mat-label>  Confirmation du mot de passe</mat-label>
            <input matInput type="password" formControlName="checkPassword" placeholder="Confirmation du mot de passe " id="checkPassword" required>
            <mat-error *ngIf="validateForm.get('checkPassword').hasError('required')">
Confirme ton mot de passe                        </mat-error>
            <mat-error *ngIf="validateForm.get('checkPassword').hasError('confirm')">
              Two passwords that you enter are inconsistent!
            </mat-error>
          </mat-form-field>
        
          
  
          <button mat-raised-button color="primary" (click)="register()">S'inscrire</button>
          Or <a routerLink="/login">  Se connecter </a>
        </form>
      </div>
    </div>
  
  