
/* Style pour centrer le formulaire de connexion au milieu de la page */
.container {
   
    /* Centre l'image horizontalement et verticalement */
    height: 100vh; /* Définit la hauteur de la div pour couvrir la hauteur de la fenêtre */
    display: flex; /* Utilise Flexbox pour centrer le contenu verticalement */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Autres styles pour le conteneur */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le conteneur */
    background-position: center; 
    width: 100%;
    height: 100vh; 
     /* Centre le contenu verticalement */
}

/* Conteneur du formulaire de connexion */
.login-form {
    width: 100%; /* Ajustez la largeur selon vos besoins */
    max-width: 400px; /* Limite la largeur maximale du formulaire */
    padding: 20px;
    background-color: rgb(247, 247, 253); /* Couleur de fond blanche */
    border-radius: 8px; /* Bordures arrondies */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre pour le formulaire */
}

/* Titre du formulaire */
.title {
    text-align: center; /* Aligne le titre au centre */
    margin-bottom: 20px;
    color: rgb(5, 5, 160); /* Marge inférieure pour séparer le titre des champs de formulaire */
}

/* Champ de formulaire */
.form-field {
    width: 100%; /* Champs de formulaire prennent la largeur du conteneur */
    margin-bottom: 20px; /* Ajoute de la marge inférieure entre les champs */
}

/* Bouton pour soumettre le formulaire */
.submit-button {
    width: 100%; /* Bouton prend toute la largeur du conteneur */
    margin-top: 20px; /* Ajoute de la marge supérieure pour séparer le bouton des champs de formulaire */
}

/* Texte pour l'inscription */
.signup-text {
    text-align: center; /* Aligne le texte d'inscription au centre */
    margin-top: 20px; /* Ajoute de la marge supérieure pour séparer le texte d'inscription */
}



/* Ajoutez d'autres styles pour les éléments du contenu si nécessaire */
.image {
    filter: blur(10px);
    background-image: url('/assets/img/jobing.jpg');
    /* Ajustez la valeur de flou selon vos préférences */
}

/* Ajoutez d'autres styles pour les éléments du contenu si nécessaire */
.blurry-background {
    position: absolute; /* Position absolue pour couvrir tout le conteneur parent */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/jobing.jpg'); /* Chemin vers votre image */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le conteneur */
    background-position: center; /* Centre l'image de fond */
    filter: blur(3px); /* Applique le flou à l'image de fond */
    z-index: -1; /* Assurez-vous que l'image de fond est en arrière-plan */
}